<%- include('../partials/_header', { title: 'All Agents' }) %>
<body>
    <%- include('../partials/_navbar') %>
    <main>
        <h1>All Agents</h1>
        <a href="/agents/new" class="btn">Create a New Agent</a>
        <% if (agents.length===0) { %>
            <p>There are no agents available. Create one to get started.</p>
        <% } else { %>
            <ul>
                <% agents.forEach(agent=> { %>
                    <li><a href="/agents/<%= agent._id %>"><%= agent.name %></a> — <%= agent.status %> — by <%= agent.createdBy.username %></li>
                <% }) %>
            </ul>
        <% } %>
    </main>
</body>

</html>