<%- include('../partials/_header', { title: 'Edit ' + skill.name }) %>
<body>
    <%- include('../partials/_navbar') %>
    <main>
        <h1>Edit Skill</h1>
        <form action="/skills/<%= skill._id %>?_method=PUT" method="POST">
            <label for="name">Skill Name:</label>
            <input type="text" id="name" name="name" required value="<%= skill.name %>">
        
            <label for="description">Description:</label>
            <textarea id="description" name="description" required><%= skill.description %></textarea>
        
            <label for="image">Image URL:</label>
            <input type="text" id="image" name="image" value="<%= skill.image ? skill.image : '' %>">
        
            <button type="submit">Update Skill</button>
        </form>
    </main>
</body>
</html>