<%- include('../partials/_header', { title: 'My Skills' }) %>
<body>
    <%- include('../partials/_navbar') %>
    <main>
        <h1>My Skills</h1>
        <a href="/skills/new" class="btn">Add a New Skill</a>
        <% if (skills.length===0) { %>
            <p>You don't have any skills yet. Add one to get started.</p>
        <% } else { %>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% skills.forEach(skill=> { %>
                        <tr>
                            <td><a href="/skills/<%= skill._id %>">
                                    <%= skill.name %>
                                </a></td>
                            <td>
                                <%= skill.description %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        <% } %>
    </main>
</body>
</html>